.navBar{
    display: block;
    width: inherit;
    background-color: var(--color-bg);
    padding: 1rem;
    position: fixed;
} 

.navBarRight{
    display: block;
}
.navBarRight-content{
    display: block;
}
.navBarRight-content-title{
    display: block;
    font-family: var(--font-black);
    font-size: 1.5rem;
    color: var(--color-black);
}
.navBarRight-content-textLink{
    display: block;
    margin-top: 0.5rem;
    font-family: var(--font-medium);
}
.navBarRight-content-text{
    font-size: 1.1rem;
    margin-left: 0.2rem;
}
.navBarRight-content-link{
text-decoration: none;
margin-right: 0.2rem;
font-size: 1.1rem;
color: var(--color-blue-1);
}
.navBarLeft{
    display: flex;
    align-items: center;
    justify-content: left;
}

.navBarLeft-alert,
.navBarLeft-message{
    position: relative;
    margin-left: 1.5rem;
}

.navBarLeft-Box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    width: 40px;
    height: 40px;
    border-radius: 0.3rem;
}
.navBarLeft-alert-icon,
.navBarLeft-message-icon{
    font-size: 1.3rem;
    color: var(--color-gray-1);
    transition: all 0.4s ease-out;
}
.navBarLeft-alert-icon:hover,
.navBarLeft-message-icon:hover{
   color: var(--color-blue-2);
}
.navBarLeft-search{
    display: flex;
    align-items: center;
    width: 250px;
    height: 2.5rem;
    background-color: var(--color-white);
    border-radius: 0.3rem;
    margin-left: 1.5rem;
    overflow: hidden;
}
.navBarLeft-search-icon{
    font-size: 1.5rem;
    color: var(--color-gray-1);
    padding-left: 0.3rem;
}
.navBarLeft-search-input{
  width: 100%;
    height: inherit;
    outline: none;
    border: none;
    font-size: 1rem;
    padding-right: 0.9rem;
}

.navBarLeft-pageAdmin{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBarLeft-pageAdmin-img{
    width: 40px;
    border-radius: 50%;
}



/* create box message */
.navBarLeft-message-box{
    display: none;
    position: absolute;
    width: 300px;
    background-color: var(--color-gray-2);
   left: 0;
   top: 3rem;
   padding: 1rem;
   
}
.message-items{
    display: block;
}
.message-item{
display: flex;
align-items: center;
background-color: var(--color-white);
padding: 1rem;
border-radius: 0.3rem;
margin-bottom: calc(1rem);
}
.message-item-img{
    width: 50px;
    height: 50px;
 border-radius: 50%;
 margin-left: 1rem;
}
.message-item-nameText{
    display: block;
    
}
.message-item-name{
    font-family: var(--font-black);
    margin-bottom: 0.2rem;
}
.message-item-text{
    font-family: var(--font-medium);
    font-size: 0.9rem;
    color: var(--color-gray-1);
}

/* create box alert */
.navBarLeft-alert-box{
    display: block;
    position: absolute;
    width: 300px;
    background-color: var(--color-gray-2);
   left: 0;
   top: 3rem;
   padding: 1rem;
}
.alert-items{
    display: block;
}
.alert-item{
    display: block;

background-color: var(--color-white);
padding: 1rem;
border-radius: 0.3rem;
margin-bottom: calc(1rem);
}
.alert-item-title{
    font-family: var(--font-black);
    font-size: 1.1rem;
    color: var(--color-black);
}   
.alert-item-text{
    display: block;
    margin: 0.5rem 0;
    font-family: var(--font-medium);
    font-size: 0.9rem;
    color: var(--color-gray-1);
}
.alert-item-time{
    display: block;
    font-family: var(--font-medium);
    font-size: 0.8rem;
    font-weight: 500;
    text-align: left;
    color: var(--color-red-1);
}

@media only screen and (max-width: 1200px) {
    .navBar{
        display: none;
    }
}