.regionSale{
    display: block;
    width: 100%;
}

.regionSale-chart{
    display: block;
    margin-top: 2rem;
}

.regionSale-items{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-top: 1rem;
}
.regionSale-item{
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--color-white);
}
.regionSale-item:nth-child(1){
    background-color: var(--color-red-1);
}
.regionSale-item:nth-child(2){
    background-color: var(--color-blue-1);
}
.regionSale-item:nth-child(3){
    background-color: var(--color-yellow-1);
}
.regionSale-item-number{
    font-family: var(--font-black);
    font-size: 1.1rem;
}
.regionSale-item-title{
    display: block;
    margin-top: 0.5rem;   
    font-family: var(--font-medium);
    font-size: 0.9rem;
}