.customerConsent{
    display: block;
    width: 100%;
    margin-top: 3rem;
}

.consent{
    display: block;
    width: 100%;
}
.consent-title{
    margin: 1.5rem 0;
}
.consent-title-number{
    font-family: var(--font-black);
    font-size: 2.2rem;
    color: var(--color-green-2);
}
.consent-title-text{
    display: block;
    margin-top: 1rem;
    font-family: var(--font-medium);
    font-size: 1.1rem;
    color: var(--color-gray-1);
}
.consent-items{
    display: block;
    margin-top: 2rem;
}
.consent-item{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 1.5rem 0;
    padding: 1rem ;
    border-radius: 0.4rem;
}
.consent-item-text{
    font-family: var(--font-medium);
    font-size: 1.2rem;
    font-weight: 700;
}
.consent-item-number{
    font-size: 1.1rem;
}